<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>To Do List</h1>
    <form action="/" method="post">
      <label for="make-model">Make/Model:</label>
      <input id="make-model" name="make-model" type="text">
      <label for="color">Color:</label>
      <input id="color" name="color" type="text">
      <label for="price">Price:</label>
      <input id="price" name="price" type="text">
      <label for="miles">Mileage:</label>
      <input id="miles" name="miles" type="text">
      <button type="submit">Submit</button>
    </form>
    <a href="/">Show All Cars</a>
  </body>
</html>
