<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Car Dealership</h1>
      <ul>
        @foreach(var vehicle in @Model)
          {
            <li>@vehicle.GetMakeModel()</li>
            <li>@vehicle.GetColor()</li>
            <li>@vehicle.GetMiles()</li>
            <li>@vehicle.GetPrice()</li>
          }
      </ul>
      <p><a href="/add_car">Add another task</a></p>
  </body>
</html>
